div.header {
	font-family: "华文行楷";
	background-color: #B2DBA1;
	text-align: center;
}
div.header h1{
	font-size: 50px;
	color:#B22222;
}
div.tail{
	font-size: 20px;
	font-family: "宋体";
	text-align: center;
	font-weight: 100;
	background-color: #BCE8F1;;
}
div.form{
	margin-top: 30px;
}
div#registerbtn button{
	margin-right: 100px;
}
#content div:nth-child(1){
	font-size: larger;
	font-weight: bold;
	text-align: center;
}
#content div:nth-child(2){
	text-align: center;
	font-size: large;
}